body{
    margin: 0px;
}

input{
    transition: .2s;
    display: inline-block;
    background-color: #f9d8b4;
    box-shadow: inset 0 4px 7px rgba(0,0,0,0.2); /* Adds shadow */
    border: none;
    border-radius: 8px;
    margin: 3px;
    width: 85%;
    font-size: 18px;
    text-align: center;
    height: 45px;
    font-family: arial;
}

input:hover{
    transition: .2s;
    transform: scale(1.02);
}

input:focus{
    outline: none;
}

.bi{
    font-size: 25px;
}

.menu{
    border-bottom: 1px solid black;
}

.profile{
    position: absolute;
}

.container-fluid{
    border: 1px solid black;
}

.game{
    /* PARTE DE FORA*/
    width: min-content;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container{
    /* PARTE DE DENTRO */
    width: 55vw;
    text-align: center;
    margin: 0 auto;
}

.tips{
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid black;
    text-align: center;
    font-size: 3vmin;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 85px;
}

.notes{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.note{
    transition: .2s;
    background-color: rgb(155, 145, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent solid rgb(114, 105, 105);
    border-radius: 4px;
    margin: 3vw;
    height: 40px;
    width: 40px;
}

.note:hover{
    transition: .2s;
    transform: scale(1.04);
}

.info button{
    background-color: red;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 1px solid black;
    height: 60px;
}
